@media screen and (max-width: 416px) {
  .menu-tel-link {
    font-size: 26px;
  }
  .menu-media-list {
    gap: 33px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 786px;
  }
  .mob-menu {
    display: none;
  }
  .menu-toggle {
    display: none;
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding: 120px 0;
  }

  .link {
    padding: 24px 0;
  }

  .list {
    display: flex;
    gap: 24px;
  }

  .header-list {
    display: flex;
  }
}
