:root {
  --body-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --dark-title-color: #2e2f42;
  --dark-osh-color: #2e2f42;
  --light-body-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --light-accent-color: #e7e9fc;
  --pressed-state-color: #404bbf;
  --success-color: #31d0aa;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --bebebe-color: rgba(46, 47, 66, 0.7);
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: var(--white-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 426px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 96px 0;
}

.link {
  font-family: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus,
.header-link.current {
  color: var(--pressed-state-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  padding: 0;
}
.logo-dark-part {
  color: var(--dark-title-color);
}
.logo-light-part {
  color: var(--light-body-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
}

.card {
  background-color: var(--white-background-color);
}
.card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-title-color);
  margin-bottom: 8px;
  text-align: center;
}
.card-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: var(--light-body-color);
}

/**------------------- HEADER -----------------*/
.header {
  background-color: var(--white-background-color);
  border-bottom: 1px solid var(--light-accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 24px 16px;
}

.navigation {
  display: flex;
}

.header-list {
  display: none;
}

.burger-btn {
  stroke: var(--dark-title-color);
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 40px 40px;
  background-color: var(--white-background-color);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-container > .close-button {
  background-color: var(--white-background-color);
}

.menu-nav {
  margin-top: 36px;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-title-color);
  display: inline-block;
  padding: 20px 0;
  padding-right: 40px;
}
.menu-nav-link.current {
  color: var(--pressed-state-color);
}

.menu-contacts-list {
  margin-bottom: 48px;
}

.menu-tel-link {
  font-weight: 700;
  color: var(--accent-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: inline-block;
  margin-bottom: 40px;
}

.menu-mail-link {
  font-weight: 500;
  color: var(--body-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 5px;
}

.menu-media-list {
  display: flex;
  align-items: center;
  gap: 56px;
}

/**------------------- HERO -----------------*/
.hero {
  background-color: var(--dark-osh-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  margin: auto;
  max-width: 428px;
  padding: 112px 38px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-mob@2x.jpg);
    max-width: 428px;
    padding: 112px 38px;
  }
}

.hero-title {
  color: var(--white-background-color);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--white-background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

/**------------------- HERO MODAL -----------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  width: 392px;
  min-height: 584px;
  position: absolute;
  padding: 72px 16px 24px 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-background-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: var(--light-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--dark-osh-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: none;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-title-color);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
  position: relative;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  font-size: 14px;
  color: var(--dark-title-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  color: var(--subtle-text-color);
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment-field {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-privacy {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.check-text-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: var(--accent-color);
  padding: 0;
  text-decoration: underline;
  margin-left: 3px;
}

.modal-check:checked + .check-text span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-body-color);
}

.modal-check:focus + .check-text span {
  border-color: var(--pressed-state-color);
}

.send {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/**--------------- DESCRIPTION ---------------*/
.descr {
  display: none;
}

.icon-rect {
  display: none;
}

.descr-item {
  margin-bottom: 72px;
}
.descr-item:last-child {
  margin-bottom: 0;
}

/**------------------- TEAM -----------------*/
.team {
  background-color: var(--light-body-color);
}

.team-title {
  color: var(--dark-title-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card {
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-card:last-child {
  margin-bottom: 0;
}

.team-member-info {
  padding: 32px 16px;
}

.member-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.member-text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}

.soc-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.soc-media-item {
  width: 40px;
  height: 40px;
}

.soc-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--pressed-state-color);
}
/**------------------- CUSTOMERS -----------------*/
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customers-list :nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.customers-item {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
  margin-bottom: 72px;
}

.customers-link {
  width: 100%;
  height: 100%;
  color: var(--subtle-text-color);
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

/* .customers-link:hover .customers-icon {
  fill: var(--pressed-state-color);
  color: var(--pressed-state-color);
}
.customers-link:focus .customers-icon {
  fill: var(--pressed-state-color);
  color: var(--pressed-state-color);
} */

.customers-icon {
  fill: currentColor;
}
/**------------------- FOOTER -----------------*/
.footer {
  background-color: var(--dark-osh-color);
  padding: 96px 16px;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--light-body-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-text-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-logo {
  display: inline-block;
  margin: auto;
  margin-bottom: 16px;
}

.soc-media {
  min-width: 208px;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin: auto;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--success-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-container {
  width: calc(100vw - 16px);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-label {
  color: var(--white-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
  border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  color: var(--white-background-color);
}
.footer-form-input::placeholder {
  color: var(--white-background-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}
.footer-form-input:hover,
.footer-form-input:focus {
  opacity: 1;
}

.footer-form-btn {
  background-color: var(--accent-color);
  color: var(--white-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  margin: 0 auto;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--pressed-state-color);
}

.sub-icon {
  margin-left: 16px;
}
/**------------------- PORTFOLIO buttons -----------------*/
.portfolio {
  padding-top: 96px;
}

.pf-btn {
  background-color: var(--light-body-color);
  color: var(--accent-color);
  border: 1px solid var(--light-accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-btn:hover,
.pf-btn:focus {
  color: var(--white-background-color);
  border: 1px solid transparent;
  box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-btn-list {
  justify-content: center;
  margin-bottom: 72px;
}

/**------------------- PORTFOLIO -----------------*/
.pf-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.pf-item {
  width: calc((100% - 48px) / 3);
}

.pf-card-descr {
  padding: 32px 16px;
  border: 1px solid var(--light-accent-color);
  border-top: none;
  margin-bottom: 8px;
}

.pf-link {
  display: block;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pf-overlay-text {
  color: var(--light-body-color);
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: var(--accent-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-link:hover,
.pf-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.pf-link:hover .pf-overlay-text,
.pf-link:focus .pf-overlay-text {
  transform: translateY(0);
}
